extends layout

block content
    include header
    h1= user
    p Hello, #{user}
    ul
        - var n = 0
        while n < 10
            li= n
            br
            - n++
    iframe(src="/users/iframe" width="800" height="600")